@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-gradient {
  background: -webkit-linear-gradient(45deg,#0459af,#146cc5, #0ca9a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: -webkit-linear-gradient(#f8fcff, #e9f1fe);
}

.bg-gradient-blue {
  background: -webkit-linear-gradient(#091731, #001f4f);
}

.container-border {
  border: 0.8px solid rgba(20, 108, 197, 0.25);
}
